<h1>New Article</h1>

<%= form_for @article do |f| %>
    <div>
        <%= f.text_field :title, placeholder: "Title" %>
        <br>
        <%= f.text_area :description, placeholder: "Description" %>
        <br>
        <%= f.submit %>
    </div>
<% end %>